/* CSS Document */

.navbar-default {
    background-color: #0b1a38;
	border-radius: 0;
	border: none;
	margin: 0;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

.navbar-default .navbar-nav > li > a.active{
  border-bottom: 3px solid red;
}


.navbar-default .navbar-nav > li > a:hover{
  background-color: #ddd;
  color: black;
  text-decoration: none;
}




div.more{
  background-color: #0b1a38;
}

.icon{
	max-width: 30px;

}

.footer-bottom { padding: 15px 0 17px 0; background: #0b1a38; text-align: left; color: #aaa; }


.image1{
	background-image: url(../img/2.jpg);
	height: 400px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;

}

.image2{
	background-image: url(../img/3.jpg);
	height: 400px;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;

}

@media only screen and (max-width: 2000px) {
    .footer{
		background-color: #0b1a38; 
		height: 60px;
	}
	.sosial
	{
		float: right;
		padding: 14px 16px;
		padding-right: 40px;
		
	}
	.copyright
	{
		float: left;
		padding: 14px 16px;
		font-size: 15px;
		color: white;
		padding-left: 5%;
	}
}

@media only screen and (max-width: 700px) {
    .footer{
		background-color: #0b1a38; 
		height: 110px;
	
	}
	.sosial
	{
		float: none;
		text-align: center;
		padding: 0;
		padding-right: 20px;
	}
	.copyright
	{
		float: none;
		text-align: center;
		padding: none;
		font-size: 15px;
		color: white;
	}
}

@media only screen and (max-width: 320px) {
    .footer{
		background-color: #0b1a38; 
		height: 110px;
	
	}
	.sosial
	{
		float: none;
		text-align: center;
		padding: 0;
		padding-right: 30px;

	}
	.copyright
	{
		float: none;
		text-align: center;
		padding: none;
		font-size: 15px;
		color: white;
	}
}


@media screen and (max-width: 2000px){
		.content-text1 {
	  	position: absolute;
		left: 20%;
		top: 15%;
		color: white;
		text-align: center;

	}
	
	
}

@media screen and (max-width: 750px){
	.content-text1 {
	  text-align: center;
	  position: absolute;
	  top: 15%;
	  left: 15%;
	  color: white;

	}
	
	
}
@media screen and (max-width: 550px){
	.content-text1 {
	  text-align: center;
	  position: absolute;
	  top: 15%;
	  right: 20%;
	  color: white;

	}
	
	
}

@media only screen and (max-width: 2000px) {
    .content-text1 > i > h1{
		font-size: 25px;
	}
}

@media only screen and (max-width: 750px) {
    .content-text1 > i > h1{
		font-size: 18px;
	}
}

@media only screen and (max-width: 550px) {
    .content-text1 > i > h1{
		font-size: 15px;
	}
}


@media only screen and (max-width: 2000px) {
    .content-text1 > strong > h2{
		font-size: 45px;
	}
}

@media only screen and (max-width: 750px) {
    .content-text1 > strong  > h2{
		font-size: 30px;
	}
}

@media only screen and (max-width: 550px) {
    .content-text1 > strong > h2{
		font-size: 20px;
	}
}

@media only screen and (max-width: 2000px) {
    .content-text1 > button{
		margin-top: 15%;
		font-size: 20px;
	}
}

@media only screen and (max-width: 700px) {
    .content-text1 > button{
		margin-top: 25%;
		font-size: 15px;
	}
}

@media only screen and (max-width: 460px) {
    .content-text1 > button{
		top: 40%;
	}
}